<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPS</title>
    <link rel="stylesheet" href="/css/leaderboard.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <div class="nav">
        <a href="../logout" class="logout button">Logout</a>
        <a href="../" class="back button">Go Back</a>
    </div>
    <div class="content">
        <div class="header">Leaderboard</div>
        <table>
            <tr>
                <th>Rank</th>
                <th >Username</th>
                <th >Score</th>
            </tr>
            <% for (var i = 0; i < users.length ; i++) { %>
                <tr>
                    <td><%= i+1 %> </td>
                    <td><%- users[i]['username'] %> </td>
                    <td><%= users[i]['score'] %> </td>
                </tr>
            <% } %>

        </table>
    </div>    
</body>
</html>