<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPS</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <div class="nav">
        <a href="../logout" class="logout button">Logout</a>
        <a href="../" class="back button">Go Back</a>
    </div>
    <div class="content">
        <div class="header">Profile</div>
        <div class="details">
            <ul>
                <li><b>Username: </b> <%= locals.username %> </li>
                <li><b>Email: </b>  <%= locals.name %> </li>
                <li><b>Email: </b>  <%= locals.email %> </li>
            </ul>
        </div>
        <div class="options">
            <a href="/user">Change Username </a> 
            <a href="/email">Change Email </a>
            <a href="/pass">Get Password </a>
        </div>
    </div>    
</body>
</html>