<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas Heist</title>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/scripts/admin.js" defer></script>
</head>
<body>
    <a href="/logout"><div class="logout button">Logout</div></a> 
    <div class="content">
        <div class="content-header">Final layer of security before you can access the note</div>
        <div class="form">
            <div class="header">Where is the exclusive, invitation-only resort that Santa Claus stays at during his off-season in his home country(I hope you know where I came from)? </div>
            <input type="text" placeholder="City" name="city">
            <button type="submit">Submit</button>
            <p></p>
        </div>
    </div>
</body>
</html>