<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas Heist</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!-- okay but you know where I orignated from yes? -->
    <div class="content">
        <form action="/" method="post">
            <div class="header">Login</div>
            <input type="text" placeholder="Username" name="username">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>